.about
  picture.about__avatar
    source(srcset="/images/content/avatar@3x.webp" media="(min-width: 1000px)" type="image/webp")
    source(srcset="/images/content/avatar@2x.webp" media="(min-width: 800px)" type="image/webp")
    source(srcset="/images/content/avatar.webp" type="image/webp")
    source(srcset="/images/content/avatar@3x.png" media="(min-width: 1000px)" type="image/png")
    source(srcset="/images/content/avatar@2x.png" media="(min-width: 800px)" type="image/png")
    source(srcset="/images/content/avatar.png" type="image/png")
    img.about__avatar(src="/images/content/avatar.png", alt="avatar")
  .about__content
    h2.about__name Maxim Bureev
    h1.about__position Front-end Developer
    p.about__description 🌎 Looking for a job with relocation 🌎
