.skills {
  display: flex;
  flex-direction: column;
  margin: 24px 0;

  &__title {
    font-size: 1.6rem;
    text-align: center;
  }

  // main
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
  }

  &__item {
    height: 120px;
    width: 140px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 14px;
    padding: 16px;
  }

  &__item-icon {
    width: 56px;
    height: 56px;
    border-radius: 12px;
  }

  &__item-title {
    margin-top: 8px;
    font-size: 1rem;
  }

  // additional
  &__additional-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
  }

  &__additional-item {
    width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;
  }

  &__additional-item-icon {
    width: 20px;
    height: 20px;
  }

  &__additional-item-title {
    margin-left: 8px;
    font-size: 0.8rem;
  }
}

@media(max-width: 330px) {
  .skills {
    &__additional-item {
      margin: 8px auto;
    }
  }
}
