-
  const contacts = [
    {
      icon: `/images/icons/social/github.svg`,
      title: `GitHub`,
      color: `#242424`,
      href: `https://github.com/mvbureev`,
    },
    {
      icon: `/images/icons/social/gitlab.svg`,
      title: `GitLab`,
      color: `#D65C38`,
      href: `https://gitlab.com/mvbureev`,
    },
    {
      icon: `/images/icons/social/codewars.svg`,
      title: `Codewars`,
      color: `#AE3A22`,
      href: `https://www.codewars.com/users/mvbureev`,
    },
    {
      icon: `/images/icons/social/telegram.svg`,
      title: `Telegram`,
      color: `#0088cc`,
      href: `https://t.me/mvbureev`,
    },
    {
      icon: `/images/icons/social/linkedin.svg`,
      title: `LinkedIn`,
      color: `#0A66C2`,
      href: `https://www.linkedin.com/in/bureev/`,
    },
    {
      icon: `/images/icons/social/twitter.svg`,
      title: `Twitter`,
      color: `#1DA1F2`,
      href: `https://twitter.com/mvbureev`,
    },
    {
      icon: `/images/icons/social/mail.svg`,
      title: `Mail`,
      color: `#151515`,
      href: `mailto:mvbureev@gmail.com`,
    },
  ];

.contacts
  .contacts__title Contacts
  ul.contacts__list
    each value in contacts
      li.contacts__item(style={background:value.color}): a.contacts__item-link(href= value.href)
        img.contacts__item-icon(src= value.icon, alt= value.title)
